/* Our Gallery Starts  */

#gallery{
    width: 100%;
  }
  
  .heading5{
    text-align: center;
    color: #b2744c;
    font-size: 30px;
    padding-top: 30px;
    font-weight: bold;
    border-bottom: 2px solid  #b2744c;
  }
  
  #gallery .heading5 span{
    color: #b2744c;
  }
  
  
  #gallery .card{
    border-radius: 10px;
    cursor: pointer;
  }
  
  #gallery .card img{
    border-radius: 10px
  }
  
  
  /* Our Gallery ends  */